# Example application.properties for movie-service
spring.datasource.url=jdbc:mysql://<host>:<port>/<db>
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# JWT Secret (change in production)
jwt.secret=<your_jwt_secret>
jwt.expiration=86400000
logging.level.org.springframework.security=DEBUG

# AWS S3 Configuration
aws.s3.bucket=<your_bucket>
aws.s3.region=<your_region>
aws.s3.accessKey=<your_access_key>
aws.s3.secretKey=<your_secret_key>
